* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,

body{
  color: white;
  background-color: rgb(13, 9, 37);
  font-family: 'Roboto';
  margin-top: 40px;
}

.main-title{
  color: black;
  font-size: 25px;
  font-family: 'Roboto';
  text-align: center;
  margin: 20px 0 ; 
}

.tasks-app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-tasks-list{
  width: 600px;
  min-height: 500px;
  background-color: rgba(255, 235, 205, 0.555);
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 25px;
}